{
    "apps": {
        "layer4": {
            "servers": {
                "http": {
                    "listen": ["0.0.0.0:80"],
                    "routes": [{
                        "match": [{
                            "http": []
                        }],
                        "handle": [{
                            "handler": "proxy",
                            "upstreams": [
                                { "dial": ["localhost:30080"] }
                            ]
                        }]
                    }]
                },
                "https": {
                    "listen": [":443"],
                    "routes": [{
                        "match": [{
                            "tls": []
                        }],
                        "handle": [{
                            "handler": "proxy",
                            "upstreams": [
                                { "dial": ["localhost:30443"] }
                            ]
                        }]
                    }]
                }
            }
        }
    }
}